html {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.delete-mode {
	color: #d9534f;
	background: white;
	font-size: 20px;
}

#version {
	margin-left: 10px;	
}


.popover-inner {
	width: 430px;
}

#detailpopover.popover {
	width: auto;
}

#graph {
	display: block;
	width: 80%;
	height: 342px;
	padding: 8px;
	-webkit-transition: opacity 1s ease-in-out 0s;
}
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;

.hide {
	opacity: 0.0;
	-webkit-transition: opacity 1s ease-in-out 1s;
}

div.loading {
	width: 50%%;
	left: 25%;
	top: 50%;
	position: absolute;
}

text {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 12px;
}
.cursor {
	stroke: red;
	stroke-width: 2;
	fill: #B0B0B0;
	opacity: 0.5;
}

text.cursor {
	stroke: none;
	fill: red;
}

rect.cursor {
	fill: #B0B0B0;
	opacity: 0.5;
}

.grid {
	stroke: #B0B0B0;
	stroke-dasharray: 3,1;
	
}
.tick {
	stroke: #B0B0B0;
	stroke-width: 2;
}

text.detail-label {
	fill: #434343;
	stroke: none;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	
}

.event.solo {
	fill: #434343;
}

.event {
	fill: #2CC4FF;
	fill-opacity: 80%;
	cursor: pointer;
	-webkit-transition: opacity 1s ease-in-out 0s;
}

.event:hover {
	fill-opacity: 100%;
	-webkit-transition: opacity 1s ease-in-out 0s;
}

.event-label {
	fill: white;
}

.event-label.solo {
	fill: #434343;
}

.selected-event-label {
	fill: white;
	font-weight: bold;
}



.axis-label {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 24px;
	font-weight: 200;
	fill: #434343;
}

.title {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 36px;
	font-weight: 200;
	fill: #434343;
}


yText {
	fill: #434343;
}

.background {
	stroke: #B0B0B0;
	stroke-width: 2;
	fill: none;
}

.eda,.EDA .detail {
	stroke: #2CC4FF;
	fill: #B6E1F2;
}

.accX {
	stroke: red;
	fill: none;
}
.accY {
	stroke: blue;
	fill: none;
}
.accZ {
	stroke: green;
	fill: none;
}

/* Adding colors for social lens headers 
 * [u'timestamp', u'yaw', u'heading', u'roll', u'pitch']
 */
.heading {
	stroke: #CC0000;
	fill: none;
}

.yaw {
	stroke: #00CC00;
	fill: none;
}

.roll {
	stroke: #0000CC;
	fill: none;
}

.pitch {
	stroke: #AE81F2;
	fill: none;
}



g.detail {
	opacity: 0.5;
	-webkit-transition: opacity 1s ease-in-out 0s;
}

g.detail:hover {
	opacity: 1.0;
	-webkit-transition: opacity 1s ease-in-out 0s;
}
.detail-toggle-button {
	fill: gray;
	cursor: pointer;
}

rect.detail {
	fill: white;
	stroke: #B0B0B0;
	stroke-width: 2;
}

	.view-container {
		padding: 20px;
		padding-right: 50px;
	}

	#viewer {
		//margin: 20px;
		min-height: 480px;
		max-width: 1920px;
		height: 100%;
		width: 100%;
		
	}
	
	.toolbar {
		position: fixed;
		right: 5px;
		width: 40px;
	}
	
	.edaGraph {
		//margin: 20px;
		height: 300px	;
		width: 100%;
		
	}
	
	.edaGraph.ui-sortable-helper {
		background: white;
		box-shadow: 0px 3px 5px #444;
	}
	
	div.placeholder {
		display: block;
		height: 300px;
		width: 100%;
		border: 5px dashed #333;
		border-radius: 5px;
		background: #CCC;
	}
	
	div.handle {
		height: 300px;
		width: 30px;
		display: block;
		position: absolute;
		z-index: 999;
		opacity: 0.25;
	}
	
	
	div.handle:hover {
		opacity: 1.0;
		background: rgba(255, 255, 255, .75);
		cursor: pointer;
	}
	
	div.handle i{
		position: relative;
		top: 50%;
		left: 28%;
		margin-top: -50%;
	}
	
	text.Acc {
		color: purple;
	}
	
	div.video {
		height: auto;
		width: 480px;
		clear: both;
		margin: 15px;
	}
	
	a.selected-channel {
		background-color: #5bc0de;
		color: white;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
	}
	.channel-select-dropdown > li a:hover::after {
		float: right;
		content: "+";
		
	}
	
	.selected-channel::after {
		float: right;
		content: "\2713";
	}
	
	.channel-select-dropdown > li a.selected-channel:hover::after {
		float: right;
		content: "\00D7";
	}
	
	path {
		stroke: black;
		fill: gray;
		opacity:0.8
	}
	
	
	path.eda,path.EDA {
		stroke: #2CC4FF;
		fill: #B6E1F2;
	}
	
	path.tonic,path.Tonic {
		stroke: steelblue;
		stroke-width: 2;
		fill: rgba(70, 130, 180,0.75);
	}
	
	path.x,path.X {
		stroke: red;
		fill: none;
	}
	path.y,path.Y {
		stroke: blue;
		fill: none;
	}
	path.z,path.Z {
		stroke: green;
		fill: none;
	}
	
	
